body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    margin: 0;
    background-color: #fff;
}

header {
    width: 100%; /* Garante que o header ocupe a largura total */
    padding-top: 2rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza os conteúdos verticalmente */
    align-items: center; /* Centraliza os conteúdos horizontalmente */
}

.header__container {
    text-align: center;
    position: relative;
}

.cta {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.header__socials {
    position: absolute;
    right: 37rem; /* Coloca na lateral esquerda */
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* PICTURE */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 30rem; /* Largura ajustada */
    height: 20rem; /* Altura ajustada */
    border-radius: 0 2rem 0 2rem; /* Canto arredondado com raio de 2rem em todos os cantos */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; /* Adiciona espaçamento para o alinhamento vertical */
}

.me img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o container sem distorcer */
}

.scroll__down {
    position: absolute;
    left: 35rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    white-space: nowrap; /* Impede a quebra de linha */
}

/* Responsividade para telas de celular */
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 2rem; /* Reduz o espaçamento em telas menores */
    }

}
