body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    background-color: #fff;
}

header {
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.header__container {
    text-align: center;
    position: relative;
}

.cta {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.header__socials {
    position: absolute;
    right: 37rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* PICTURE */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 30rem;
    height: 20rem;
    border-radius: 0 2rem 0 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll__down {
    position: absolute;
    bottom: 5rem;
    left: 125%; 
    transform: translateX(-50%) rotate(90deg); 
    font-weight: 300;
    font-size: 0.9rem;
    white-space: nowrap; 
    color: #A80F72; 
}

/* Responsividade para telas de celular */
@media screen and (max-width: 768px) {
    header {
        margin-bottom: 2rem; 
        
    }
    .scroll__down{
        display: none;
    }

}
